<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Test">
		<!--change broswer to firefox/chrome
		<parameter name="broswerName" value="chrome"></parameter> -->
		<classes>
			<class name="com.search.by.image.test.uploadSearch" />
			<class name="com.upload.image.SearchByUploadImage.BaseUI" />
		</classes>

	</test>

</suite> 
